<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
    
<main class="container">
  <h1><%= titulo %></h1>
  <label for="buscar">Buscar</label>
  <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>">
  <input type="text" id="buscar" name="buscar" onkeyup="buscar()">

  <div class="row">
              <% for (let clase of listaClases){ %>   
                <div class="col s12 m4 l3">
                  <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light" >
                      <img class="activator" src="<%= clase.imagen %>">
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4"><%= clase.nombre %><i class="material-icons right" >more_vert</i></span>
                      <p><a href="#">...</a></p>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4"><%= clase.nombre %><i class="material-icons right">close</i></span>
                      <p>Fuente de la imágen: <%= clase.imagen %></p>
                    </div>
                  </div>
                </div>
          <% } %>
  </div>
</main>

<%- include('includes/footer.ejs') %>     

<script>
  function buscar() {
    const criteriosBusqueda = document.getElementById('buscar').value;
    //El token de protección CSRF
    const csrf = document.getElementById('_csrf').value;

    console.log(criteriosBusqueda);
    console.log(csrf);
    
    //función que manda la petición asíncrona
    fetch('/clases/buscar', {
        method: 'POST',
        headers: {
          'csrf-token': csrf
          },
        body: JSON.stringify(criteriosBusqueda)
    }).then(result => {
        return result.json(); //Regresa otra promesa
    }).then(data => {
        //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
        //...
        console.log(data);
    }).catch(err => {
        console.error(err);
    });
  }
</script>